* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

html {
    scroll-behavior: smooth;
  }

header{
    background-color: #202022;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

body {
background-color:#878787;
}

#foto{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 50%;
}

.fotocontato {
 width: 250px;
 height: 300px;
 border-radius: 5px;
 padding: 5px;
}

.links {
    text-decoration: none;
    color: aliceblue;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}

.links:hover{
    color: aliceblue;
    text-shadow: 0 0 0.8em aliceblue;
}

.links-section {
    text-decoration: none;
    color: aliceblue;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}

.links-section:hover{
    color: #202022;
}
 
nav {
    display: flex;
    bottom: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

ul li {
    margin: 0 5px;
}

nav li:last-child {
    border-right: none;
}

.menu {
    list-style: none;
    justify-content: space-around;
    width: 100%;
    display: flex;
    margin: 20px;
    font-size: 18px;
    position: relative;
}

#corpo{
    border-radius: 0;
    width: 200px;
    height: 150px;
    padding: 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.menu2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #CACACA;
    font-size: 18px;
    font-weight: bold;
}

.menu3 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #00747C;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 50%;
}

#textop h1{
    text-align:left;
}

#textop {
    width: 50%;
    padding: 5px;
    height: 100%;
    text-align: justify;
}

.redes-sociais {
    list-style: none;
    display: flex;
    justify-content:center;
}

.sections {
    list-style: none;
    display: flex;
    justify-content:center;
    background-color: #00BBC9;
    padding: 15px;
}

#redes-sociais {
    border-radius: 10px;
    width: 48px;
    height: 48px;
}

.conteudo {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #CACACA;
    border-radius: 10px;
    width: 60%;
    height: 40%;
}

.textop {
    font-size: 20px;
}

.textop-section {
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
}

footer{
    background-color:#202022;
    height: 30px;
    position: static;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: bolder;
}
